{% extends "booking_app/base.html" %}

{% block body %}

<div id="rubrik">Kontaktuppgifter för {{booking.client_firstname}} {{booking.client_lastname}}</div><br />

<table width="30%" align="left" >
<tr>
	<th>Mailadress</th>
</tr>
<tr>
<td>{% if booking.client_mail %}{{booking.client_mail}}
{% else %} <i>ej angiven</i>
{% endif %}</td>
</tr>
<tr>
	<th>Mobilnummer</th>
</tr>
<tr>
	<td>{% if booking.client_phone %}{{booking.client_phone}}
{% else %} <i>ej angivet</i>
{% endif %}</td>
</tr>

{% endblock %}