{% extends "booking_app/base.html" %}

{% block body %}
{% if time_error_message %}<h2>{{ time_error_message }}</h2>{% endif %}
{% if form_error_message %}<h2>{{ form_error_message }}</h2>{% endif %}

<div id="rubrik">{{customer.customer_name}} </div>

<form action="{% url 'booking_app:submit' customer.id visit.id %}" method="post">
{% csrf_token %}

<h2>Fyll i dina kontaktuppgifter</h2>

<table width="100%" align="bottom">
<tr>
<th><label for="client_firstname">Förnamn * </label>{% csrf_token %}</th>
<th><label for="client_lastname">Efternamn * </label>{% csrf_token %}</th>
<th><label for="client_phone">Mobilnummer </label>{% csrf_token %}</th>
<th><label for="client_mail">Mailadress </label>{% csrf_token %}</th>
</tr>
<tr>
<td>{{form.client_firstname}}</td>
<td>{{form.client_lastname}}</td>
<td>{{form.client_phone}}</td>
<td>{{form.client_mail}}</td>
</tr>
</table>

<h2>Välj en tid</h2>

<table width="100%" align="bottom">
        <tr>
        <th>Måndag 
            {% for time in visit.time_set.all %}
                {% ifchanged %}
                    {% if time.datetime|date:"l" == "Monday" %}
                    {{time.datetime|date:"d/m"}}
                        {% for time in visit.time_set.all|slice:"1" %}
                        {% endfor %}
                    {% else %}
                    {% endif %}
                {% endifchanged %}
            {% endfor %}
        </th>
        <th>Tisdag 
            {% for time in visit.time_set.all %}
                {% ifchanged %}
                    {% if time.datetime|date:"l" == "Tuesday" %}
                    {{time.datetime|date:"d/m"}}
                        {% for time in visit.time_set.all|slice:"1" %}
                        {% endfor %}
                    {% else %}
                    {% endif %}
                {% endifchanged %}
            {% endfor %}
        <th>Onsdag
            {% for time in visit.time_set.all %}
                {% ifchanged %}
                    {% if time.datetime|date:"l" == "Wednesday" %}
                    {{time.datetime|date:"d/m"}}
                        {% for time in visit.time_set.all|slice:"1" %}
                        {% endfor %}
                    {% else %}
                    {% endif %}
                {% endifchanged %}
            {% endfor %}
        </th>
        <th>Torsdag 
            {% for time in visit.time_set.all %}
                {% ifchanged %}
                    {% if time.datetime|date:"l" == "Thursday" %}
                    {{time.datetime|date:"d/m"}}
                        {% for time in visit.time_set.all|slice:"1" %}
                        {% endfor %}
                    {% else %}
                    {% endif %}
                {% endifchanged %}
            {% endfor %}
        </th>
        <th>Fredag
            {% for time in visit.time_set.all %}
                {% ifchanged %}
                    {% if time.datetime|date:"l" == "Friday" %}
                    {{time.datetime|date:"d/m"}}
                        {% for time in visit.time_set.all|slice:"1" %}
                        {% endfor %}
                    {% else %}
                    {% endif %}
                {% endifchanged %}
            {% endfor %}
        </th>
    </tr>
    <tr>
        <td>
       {% for time in visit.time_set.all %}
        {% if time.datetime|date:"l" == "Monday" %}{% include "booking_app/time_form.html" %}
	       {% endif %}
       {% endfor %}
        </td>
        <td>
        {% for time in visit.time_set.all %}
	       {% if time.datetime|date:"l" == "Tuesday" %}{% include "booking_app/time_form.html" %}
	       {% endif %}
        {% endfor %}
</td>

<td>
{% for time in visit.time_set.all %}
	{% if time.datetime|date:"l" == "Wednesday" %}
		{% include "booking_app/time_form.html" %}
	{% endif %}
{% endfor %}
</td>

<td>
{% for time in visit.time_set.all %}
	{% if time.datetime|date:"l" == "Thursday" %}
		{% include "booking_app/time_form.html" %}
	{% endif %}
{% endfor %}
</td>

<td>
{% for time in visit.time_set.all %}
	{% if time.datetime|date:"l" == "Friday" %}
		{% include "booking_app/time_form.html" %}
	{% endif %}
{% endfor %}
</td>
</tr>
</table>
<br />
    <input type='submit' value='Anmäl' />
    </div>
</form>
{% endblock %}