<html>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'booking_app/style.css' %}" />

<head></head>

<body>

<div id="rubrik">{{customer.customer_name}} - {{visit.visit_name}} </div><br />

<table width="100%" align="center" >
    <tr>
        <th>Måndag</th>
        <th>Tisdag</th>
        <th>Onsdag</th>
        <th>Torsdag</th>
        <th>Fredag</th>
    </tr>
	<tr>
		<td>
		{% for time in visit.time_set.all %}
				{% if time.datetime|date:"l" == "Monday" %}
				{% include "booking_app/tider_form.html" %}
			{% endif %}
		{% endfor %}
		</td>
		<td>
		{% for time in visit.time_set.all %}
			{% if time.datetime|date:"l" == "Tuesday" %}
				{% include "booking_app/tider_form.html" %}
			{% endif %}
		{% endfor %}
		</td>

<td>
{% for time in visit.time_set.all %}
	{% if time.datetime|date:"l" == "Wednesday" %}
		{% include "booking_app/tider_form.html" %}
	{% endif %}
{% endfor %}
</td>

<td>
{% for time in visit.time_set.all %}
	{% if time.datetime|date:"l" == "Thursday" %}
		{% include "booking_app/tider_form.html" %}
	{% endif %}
{% endfor %}
</td>

<td>
{% for time in visit.time_set.all %}
	{% if time.datetime|date:"l" == "Friday" %}
		{% include "booking_app/tider_form.html" %}
	{% endif %}
{% endfor %}
</td>
</tr>
</table>

</body>

</html>
