{% extends "booking_app/base.html" %}

{% block body %}

<div id="rubrik">{{customer.customer_name}} - {{visit.visit_name}} </div><br />

<table width="100%" align="center" >
        <tr>
        <th>Måndag 
            {% for time in visit.time_set.all %}
                {% ifchanged %}
                    {% if time.datetime|date:"l" == "Monday" %}
                    {{time.datetime|date:"d/n"}}
                        {% for time in visit.time_set.all|slice:"1" %}
                        {% endfor %}
                    {% else %}
                    {% endif %}
                {% endifchanged %}
            {% endfor %}
        </th>
        <th>Tisdag 
            {% for time in visit.time_set.all %}
                {% ifchanged %}
                    {% if time.datetime|date:"l" == "Tuesday" %}
                    {{time.datetime|date:"d/n"}}
                        {% for time in visit.time_set.all|slice:"1" %}
                        {% endfor %}
                    {% else %}
                    {% endif %}
                {% endifchanged %}
            {% endfor %}
        <th>Onsdag
            {% for time in visit.time_set.all %}
                {% ifchanged %}
                    {% if time.datetime|date:"l" == "Wednesday" %}
                    {{time.datetime|date:"d/n"}}
                        {% for time in visit.time_set.all|slice:"1" %}
                        {% endfor %}
                    {% else %}
                    {% endif %}
                {% endifchanged %}
            {% endfor %}
        </th>
        <th>Torsdag 
            {% for time in visit.time_set.all %}
                {% ifchanged %}
                    {% if time.datetime|date:"l" == "Thursday" %}
                    {{time.datetime|date:"d/n"}}
                        {% for time in visit.time_set.all|slice:"1" %}
                        {% endfor %}
                    {% else %}
                    {% endif %}
                {% endifchanged %}
            {% endfor %}
        </th>
        <th>Fredag
            {% for time in visit.time_set.all %}
                {% ifchanged %}
                    {% if time.datetime|date:"l" == "Friday" %}
                    {{time.datetime|date:"d/n"}}
                        {% for time in visit.time_set.all|slice:"1" %}
                        {% endfor %}
                    {% else %}
                    {% endif %}
                {% endifchanged %}
            {% endfor %}
        </th>
    </tr>
	<tr>
		<td>
		{% for time in visit.time_set.all %}
				{% if time.datetime|date:"l" == "Monday" %}

				{% include "booking_app/tider_form.html" %}
			{% endif %}
		{% endfor %}
		</td>
		<td>
		{% for time in visit.time_set.all %}
			{% if time.datetime|date:"l" == "Tuesday" %}
				{% include "booking_app/tider_form.html" %}
			{% endif %}
		{% endfor %}
		</td>

<td>
{% for time in visit.time_set.all %}
	{% if time.datetime|date:"l" == "Wednesday" %}

		{% include "booking_app/tider_form.html" %}

	{% endif %}
{% endfor %}
</td>

<td>
{% for time in visit.time_set.all %}
	{% if time.datetime|date:"l" == "Thursday" %}
		{% include "booking_app/tider_form.html" %}
	{% endif %}
{% endfor %}
</td>

<td>
{% for time in visit.time_set.all %}
	{% if time.datetime|date:"l" == "Friday" %}
		{% include "booking_app/tider_form.html" %}
	{% endif %}
{% endfor %}
</td>
</tr>
</table><br />
<a href="{% url 'booking_app:besok' customer.id %}">Tillbaka till besök</a>
{% endblock %}
