<html>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'booking_app/style.css' %}" />

<head></head>

<body>
<div id="rubrik">{{customer.customer_name}} </div>
<h2>Dina uppgifter</h2>
<table>
    <tr>
    	<th>Förnamn</th>
    	<th>Efternamn</th>
    	<th>Mailadress</th>
    	<th>Mobilnummer</th>
    </tr>
    <tr>
    	
    	<td>{{booking.client_firstname}}</td>
    	<td>{{booking.client_lastname}}</td>
    	<td>{{booking.client_mail}}</td>
    	<td>{{booking.client_phone}}</td>
    </tr>
</table>


<h2>Välj en ny tid i tabellen</h2>
<form action="{% url 'booking_app:new_submit' customer.id visit.id booking.id %}" method="post">
{% csrf_token %}
<table>
    <tr>
        <th>Måndag 
            {% for time in visit.time_set.all %}
                {% ifchanged %}
                    {% if time.datetime|date:"l" == "Monday" %}
                    {{time.datetime|date:"d/m"}}
                        {% for time in visit.time_set.all|slice:"1" %}
                        {% endfor %}
                    {% else %}
                    {% endif %}
                {% endifchanged %}
            {% endfor %}
        </th>
        <th>Tisdag 
            {% for time in visit.time_set.all %}
                {% ifchanged %}
                    {% if time.datetime|date:"l" == "Tuesday" %}
                    {{time.datetime|date:"d/m"}}
                        {% for time in visit.time_set.all|slice:"1" %}
                        {% endfor %}
                    {% else %}
                    {% endif %}
                {% endifchanged %}
            {% endfor %}
        <th>Onsdag
            {% for time in visit.time_set.all %}
                {% ifchanged %}
                    {% if time.datetime|date:"l" == "Wednesday" %}
                    {{time.datetime|date:"d/m"}}
                        {% for time in visit.time_set.all|slice:"1" %}
                        {% endfor %}
                    {% else %}
                    {% endif %}
                {% endifchanged %}
            {% endfor %}
        </th>
        <th>Torsdag 
            {% for time in visit.time_set.all %}
                {% ifchanged %}
                    {% if time.datetime|date:"l" == "Thursday" %}
                    {{time.datetime|date:"d/m"}}
                        {% for time in visit.time_set.all|slice:"1" %}
                        {% endfor %}
                    {% else %}
                    {% endif %}
                {% endifchanged %}
            {% endfor %}
        </th>
        <th>Fredag
            {% for time in visit.time_set.all %}
                {% ifchanged %}
                    {% if time.datetime|date:"l" == "Friday" %}
                    {{time.datetime|date:"d/m"}}
                        {% for time in visit.time_set.all|slice:"1" %}
                        {% endfor %}
                    {% else %}
                    {% endif %}
                {% endifchanged %}
            {% endfor %}
        </th>
    </tr>
<tr>
<td>
{% for time in visit.time_set.all %}
	{% if time.datetime|date:"l" == "Monday" %}
		{% include "booking_app/time_form.html" %}
	{% endif %}
{% endfor %}
</td>

<td>
{% for time in visit.time_set.all %}
	{% if time.datetime|date:"l" == "Tuesday" %}
		{% include "booking_app/time_form.html" %}
	{% endif %}
{% endfor %}
</td>

<td>
{% for time in visit.time_set.all %}
	{% if time.datetime|date:"l" == "Wednesday" %}
		{% include "booking_app/time_form.html" %}
	{% endif %}
{% endfor %}
</td>

<td>
{% for time in visit.time_set.all %}
	{% if time.datetime|date:"l" == "Thursday" %}
		{% include "booking_app/time_form.html" %}
	{% endif %}
{% endfor %}
</td>

<td>
{% for time in visit.time_set.all %}
	{% if time.datetime|date:"l" == "Friday" %}
		{% include "booking_app/time_form.html" %}
	{% endif %}
{% endfor %}
</td>
</tr>
</table>
<br />
<input type='submit' value='Byt tid'/>
</form>

</body>

</html>
