li a {
    color: green;
}
body {
    color: black;
    	font  : 15px "Verdana", sans-serif;
}
body a {
    color: #1C1C1C;
}


form {

  width  : 100%;
  height : 100%px;
  margin : 0;
  border: none;

}

input, textarea {
  font    : .9em/1.5em "Arial", sans-serif;
  font-size: 15px;

}
div {
    width: 100%;
    float:left;
    font-size: 15px;
    font-family: "Arial";
}
#rubrik{
	font-size: 30px;
	color: white;
	float: center;
	background: #288dc0;
	width: 100%;
	border: 1px solid;
	border-color: #D8D8D8;
    padding: 3px;
}
#tider_rubrik {
    font-size: 15px;
    font-weight: bold;
    color: black;
    float: center;
    background: #ffffff;
    border-color: #D8D8D8;
    
}

#tider {
    font-size: 15px;
    
    color: black;
    float: left;
    background: #ffffff;
    padding-left: 0px;

}

table{
    table-layout: fixed;
    	
    font-size: 15px;
    font-family: "Arial";
}

th,td
    {
        
        text-align: left;
        border-collapse: collapse;
        outline: 1px solid #D8D8D8;
    }

    td
    {
        padding: 5px 1px;

    }

    th
    {
        text-align: center;
        background: #288dc0;
        color: white;
        padding: 5px 1px;
    }



